@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@100;200&display=swap');


.navbar{
    background-color:rgb(229,9,20);
    height: 70px;
    z-index: 100;
}
.logo{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Abril Fatface', serif;
    letter-spacing: 1px;
}
.logo:hover{
    color: aquamarine;
}
.nav-item{
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    margin-right: 20px;
}
.nav-item:hover {
    color: yellow;
    border-bottom: 1px solid #fff;
}
@media(max-width:425px){
    #basic-navbar-nav{
        background-color: rgb(229,9,20);
        padding-top: 50px;
        width: 100%;
        text-align: center;
    }
    .form{
        margin-left: 40px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}